img{
    height: 100px;
    width: 200px;
    border-radius: 20%;
}
.messi{
    right: 1000px;
}
.texto {
    text-align:center;
    width: 100%;
    height: 30%;
}
head{
    background-color: rgba(104, 229, 238, 0.445);
}
.logo{
    border-radius: 100%;
    width: 20%;
    height: 10%;
}


